*{
  background-color: black;
  color : white;
  text-align: center;
}
.board{
  border: 2px solid white;
  width: 600px;
  height:600px;
  margin: auto;
}

  
.row{
  display: flex;
  
}
.Box{
  border: 2px solid white;
  width: 200px;
  height: 200px;
}
.reset-btn{
  border: 2px solid white;
  border-radius: 5px;
}